<header class="header">
  <img class="logo" src="./images/logo.svg" width="150px" />
  <h1 class="header__title">FIND BEST EVENTS <br />AROUND THE WORLD</h1>
  <div class="header__inputs">
    <span class="header__box1">
      <input class="header__inputs-1" placeholder="Start searching" />
      <img src="./images/search.svg" class="header__image1" />
    </span>
    <span class="header__box2">
      <select class="header__inputs-2" id="countrys" name="countrys">
        <option value="Choose country" selected>Choose country</option>
      </select>
      <img src="./images/Polygon.svg" class="header__image2" />
    </span>
  </div>
</header>
