<header class="header">
  <img class="logo" src="./images/logo.svg" width="150px" />
  <h1 class="header__title">FIND BEST EVENTS <br />AROUND THE WORLD</h1>
  <div class="header__inputs">
    <div class="header__box1">
      <input class="header__inputs-1" placeholder="Start searching" />
      <svg class="header__image1" width="16" height="12">
        <use xlink:href="./images/icon.svg#icon-Vector"></use>
      </svg>
    </div>
    <div class="header__box2">
      <select class="header__inputs-2" id="countrys" name="countrys">
        <option value="Choose country" selected>Choose country</option>
      </select>
      <svg class="header__image2" width="16" height="12">
        <use xlink:href="./images/icon.svg#icon-Polygon"></use>
      </svg>
    </div>
  </div>
</header>
