@import '../utils/variables';
@import '../utils/mixins';

.test {
  margin: 0;
  display: flex;
  flex-basis: calc(100% - 32px/3);
  @include mobile {
    flex-direction: column;
  }
  @include desktop {
    gap: 30px;
  }
  @include tablet{
    display: flex;
    flex-basis: calc(100% - 32px/3);
    gap: 30px;
  }
}

footer {
  color: #939393;
  text-align: center;
  font-size: 16px;
  font-family: 'Montserrat', sans-serif;
}
