@import '../utils/variables';
@import '../utils/mixins';

.gallery {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  &__box {
    margin: 100px 45px;
  }
  &__card {
    width: 267px;
    height: 300px;
    position: absolute;
    z-index: 2;
  }
  &__border {
    position: relative;
    width: 227px;
    height: 213px;
    border-radius: 50px 0px;
    border: 1px solid rgba(220, 86, 197, 0.3);
    transform: translate(61px, -26px);
    z-index: 1;
  }
  &__image {
    width: 267px;
    height: 220px;
    flex-shrink: 0;
    border-radius: 50px 0px;
  }
  &__title {
    color: #dc56c5;
    text-align: center;
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
  }
  &__date {
    color: #fff;
    text-align: center;
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
  }
  &__place {
    color: #fff;
    text-align: center;
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    &::before {
      content: url('../images/Vector.svg');
      display: inline-block;
      margin-right: 5px;
    }
  }
}
