@import '../utils/variables';
@import '../utils/mixins';

.gallery {
  width: 100%;
  height: 800px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  &__box {
    margin-right: 53px;
  }
  &__card {
    width: 267px;
    height: 300px;
    // position: absolute; queda uno encima de otra
    z-index: 2;
    cursor: pointer;
    margin-bottom: 10px;
  }
  &__border {
    position: relative;
    width: 227px;
    height: 213px;
    border-radius: 50px 0px;
    border: 1px solid $rgba-color-primary;
    transform: translate(61px, -26px);
    z-index: 1;
  }
  &__image {
    width: 267px;
    height: 220px;
    flex-shrink: 0;
    border-radius: 50px 0px;
  }
  &__title {
    color: $color-tertiary;
    text-align: center;
    font-size: 16px;
    font-family: $montserrat;
    font-weight: 700;
  }
  &__date {
    color: $color-primary;
    text-align: center;
    font-size: 16px;
    font-family: $montserrat;
  }
  &__place {
    color: $color-primary;
    text-align: center;
    font-size: 14px;
    font-family: $montserrat;
    font-weight: 600;
    &::before {
      content: url('../images/Vector.svg');
      display: inline-block;
      margin-right: 5px;
    }
  }
}
