@import '../utils/variables';
@import '../utils/mixins';
.header {
  background-image: url(../images/pic.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 448px;
  &__title {
    color: $color-tertiary;
    font-family: $montserrat;
    text-align: center;
    font-weight: 900;
    position: relative;
    margin-top: 0;
    padding-top: 40px;
    font-size: 50;
  }
  &__inputs {
    font-family: $montserrat;
    font-size: 16;
    font-weight: 400;
    display: flex;
    justify-content: center;
    &-1 {
      margin-right: 32px;
      width: 288px;
      height: 40px;
      border-radius: 20px;
      background: $rgba-color-secondary;
      backdrop-filter: blur(10px);
      color: $color-quinary;
      padding-left: 32px;
      border: solid;
    }
    &-2 {
      margin-right: 32px;
      width: 288px;
      height: 40px;
      border-radius: 20px;
      background: $rgba-color-secondary;
      backdrop-filter: blur(10px);
      color: $color-quinary;
      padding-left: 32px;
      border: solid;
    }
  }
}
.logo {
  position: absolute;
}
