.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
}

.pagination button {
  margin: 0 5px;
  padding: 5px 10px;
  border: none;
  background-color: $background-color-primary;
  color: $color-primary;
  cursor: pointer;
  font-family: $montserrat;
}

.pagination button.active {
  border-radius: 10px 0px;
  border: 1px solid $color-tertiary;
  color: $color-tertiary;
}
