.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
}

.pagination button {
  margin: 0 5px;
  padding: 5px 10px;
  border: none;
  background-color: $background-color-primary;
  color: $color-primary;
  cursor: pointer;
  font-family: $montserrat;
}
.pagination button:hover {
  font-size: 18px;
  color: $color-quaternary;
  text-shadow: 0 0 7px $color-primary, 0 0 10px $color-primary,
    0 0 21px $color-primary, 0 0 42px $color-senary, 0 0 82px $color-senary,
    0 0 92px $color-senary;
}

.pagination button.active {
  border-radius: 10px 0px;
  border: 1px solid $color-tertiary;
  color: $color-tertiary;
  transform: scale(1.1);
  box-shadow: 0 0 25px $color-quaternary, inset 0 0 5px $color-primary;
}
@media screen and (max-width: 480px) {
  .pagination button {
    margin: 0 2px;
    padding: 2px 4px;
  }
}
